.plans {
  display: flex;
  background-color: #1e4d90;
  height: 100vh;
  width: 100vw;
  align-items: center;
  text-align: center;
}
.plancard {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 17rem;
  width: 31rem;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  padding: 0.6rem 0.9rem 0.6rem;
  margin: auto;
  margin-top: auto;
  /* align-items: center; */
  justify-content: center;
}

.planState {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
}

.stateDetail {
  border-radius: 5px;
  padding-left: 3px;
  padding: 3px;
  /* padding: ; */
  text-align: center;
  background-color: #c1dcfb;
  color: #2e64ad;
}

.cancelbtn {
  color: #1e4d90;
  cursor: pointer;
}
.plan {
  color: #545454;
}
.planDevice {
  color: #9e9d9f;
}
.planBudget {
  color: #000000;
  font-weight: 700;
  font-size: large;
  margin-top: 0.5rem;
}

.planChange {
  border: 1.8px solid #1e4d90;
  border-radius: 5px;
  padding: 0.49rem;
  text-align: center;
  width: max-content;
  color: #1e4d90;
  font-weight: 500;
  margin: 1rem 0rem 1rem 0rem;
}

.planStatement {
  border-radius: 5px;
  background-color: #f5f5f6;
}
